.key_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h5 {
  font-size: 16px;
  margin: 6px;
}
p {
  font-size: 20px;
  margin: 10px;
}

button {
  padding: 6px;
  margin: 3px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #0056b3;
}
